@using BOL;

@{
    ViewData["Title"] = "Index Page";
}

 <h2>Product Available</h2>

<ol>
    <a href="/Products/ShowAllHospitals"><li>Hospitals</li></a>
    <a><li>Servicing Centers</li></a>
    <a><li>Hotels</li></a>
</ol>


