@{
    ViewData["Title"] = "Home Page";
}

<div align="center"><h2>IPL 2023</h2></div>
<hr>
<table>
<tr>
<th>MS DHONI</th><th>VIRAT KOHLI</th><th>SRT 10</th></tr>
<tr>
<td><img src="images\ms01.jpeg"  height="300px" width="300px"></td>
<td><img src="images\vk02.jpeg" height="300px" width="300px"></td>
<td><img src="images\st03.jpeg" height="300px" width="300px"></td>
</tr>

</table>

