@{
    ViewData["Title"] = "Admin Page";
}

<h1>Welcome Admin</h1>

<form action="/Products/AllProducts">
    <button type="submit" name="display" id="display">Display</button>
</form>


@* <h1>Add Hospitals</h1>
<hr/> *@
@* <div class="text-center">
 <form  action="/Products/Insert">

 <label for="id">Id : </label><br>
  <input type="number" id="id" name="id" value="" required><br>
  <label for="name">Name : </label><br>
  <input type="text" id="name" name="name" value="" required><br>
  
  <label for="email">Email  : </label><br>
  <input type="email" id="email" name="email" ><br><br>

  <label for="pin">Pin  : </label><br>
  <input type="text" id="pin" name="pin" ><br><br>
  
  <input type="submit" value="Submit">
</form> 
</div> *@