@{
    ViewData["Title"] = "Display";
}
<h1>abc</h1>
<hr/>
<div class="text-center">
    @{
        List<Player> allPlayers=(List<Player>)ViewData["abc"]; 
        <ol>
            @foreach(Player pp in allPlayers){
                <li>@pp.FirstName</li>
            }
        </ol>
    } 
    <hr/>
</div>
